* {
    box-sizing: border-box;
}

html {
    font-family: lato;
}

.nav {
    display: flex;
    box-shadow: 0 2px 4px 0px #c6c6c6
}

.nav header {
    padding-left: 12px;
}

.app {
    margin: 0;
    padding: 12px;
    height: 100%;
    width: 100%;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    margin: 12px;
    padding: 12px;
}

.user-profile {
    border-radius: 4px;
    border: 1px solid #f6f6f6;
    border-top: 4px solid #f6f6f6;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    margin-bottom: 24px;
    height: 220px;
    width: 160px;
    transition: all .15s ease-in-out;
}

.user-profile:hover {
    box-shadow: 2px 2px 2px #f9f9f9;
    transform: scale(1.1);
}

.user-profile--employee {
    border-top-color: #234990
}

.user-profile--manager {
    border-top-color: #E73D1D
}

.user-profile--admin {
    border-top-color: #FEC81A
}

.user-profile__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 55%;
}

.user-profile__avatar img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.user-profile__bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile__bio--title {
    margin-bottom: 6px;
}

.user-profile__bio--subtitle {
    color: #c6c6c6;
    font-size: 12px;
}